/*SASKIA LATIEVARYA
June 24, 2020
SENI KITA GALLERY PAGE STYLE*/

h1 {
	/* Add font size that changes relative to the viewpoint*/
	font-size: 8vw;

}
h2 {
	/* Add font size that changes relative to the viewpoint*/
	font-size: 6vw;
}
h3 {
	/* Add font size that changes relative to the viewpoint*/
	font-size: 5vw;
}
h4 {
	/* Add font size that changes relative to the viewpoint*/
	font-size: 4vw;
}
h5 {
	/* Add font size that changes relative to the viewpoint*/
	font-size: 3vw;
}
h6 {
	/* Add font size that changes relative to the viewpoint*/
	font-size: 1vw;
}
p {
	/* Add font size that changes relative to the viewpoint*/
	font-size: 2vw;
}
img {
	/* Add font size that changes relative to the viewpoint*/
	/* Defailt image size, according to hierarchy, will be lower than id */
}

.home {
	/*position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0; */
	display: flex;
	flex-direction: row;
	background-color: #65715E; 
}

.navbar-box {
	display: flex;
	flex-direction: column;
	background-color: #DFDFDF;
	padding: 20px;
	align-items: center; /* Aligned menu and sign up to the center but not about us and contact us fsr */
	text-align: center;
	width: 16.66%;

} 

.homepage-box {
	display: flex;
	flex-direction: column;
	background-color: #8FED53;
	width: 83.34%;

}

.title-box {
	display: flex;
	flex-direction: row;
	background-color: #414241;
	padding: 20px;
	margin-bottom: 20px;
	/* Add margin between Logo and Text */

}
	#web-title {
		animation-name: colorchanging;
		animation-duration: 20s;
		animation-iteration-count: infinite;
	}
		@keyframes colorchanging {
			
			0% { color: #ff1616; }
			25% { color: #ff914d; }
			50% { color: #ffde59; }
			75% { color: #7ed957; }
			100% { color: #004aad; }
		}

.content-box {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	
	/*padding: 0.1vh;*/
	/* Add margin between news-box and weekly-gallery-box */
}

.news-box {
	display: flex;
	flex-direction: column;
	background-color: #1111;
	text-align: center;
	padding: 2vw;
	width: 60%;
	/* Add margin between latest updates and other-news */

}

.weekly-gallery-box {
	display: flex;
	flex-direction: column;
	background-color: #ffff;
	width: 30%;
	/* Add margin between latest updates and other-news */

}