/*SASKIA LATIEVARYA
June 24, 2020
SENI KITA GALLERY PAGE STYLE*/

#home {
	display: flex;
	flex-direction: row;
}

.navbar-box {
	display: flex;
	background-color: #DFDFDF;
	flex-direction: column;
	padding: 20px;
} 

.homepage-box {
	display: flex;
	background-color: #8FED53;
	flex-direction: column;
}

.title-box {
	display: flex;
	flex-direction: row;
}

.content-box {
	display: flex;
	flex-direction: row;
	padding: 20px;
}